@import "tailwindcss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --bg: #000000;
  --fg: #ffffff;
}

html.light, body.light {
  --bg: #ffffff;
  --fg: #0b0b0d;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
}